# 登録したいリポジトリ、またはOrganizationのURL
# リポジトリの場合: https://github.com/owner/repo
# Organizationの場合: https://github.com/org
# REPO_URL="https://github.com/masa-codehub/github_broker"
REPO_URL="https://github.com/${GITHUB_REPOSITORY}"

# GitHubから取得した登録トークン
# [Settings] > [Actions] > [Runners] > [New self-hosted runner] から取得
RUNNER_TOKEN="my_runner_token"

# 指定しない場合はコンテナのホスト名が使われます
RUNNER_NAME=github-runner

# ランナーに付与するラベル（カンマ区切り）
RUNNER_LABELS=self-hosted,linux,x64,gpu
